:root {
  --primary-color: #1f5ed0;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Start header */

.header {
  height: 100px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  margin-top: 5px;
  height: 90px;
  margin-right: 10px;
}

.action-container {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.notification {
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.number-noti {
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  right: -25%;
}

.name {
  padding-left: 10px;
  padding-top: 2px;
}

/* End header */

/* Start nav */
/* .nav-item .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
} */

.navItem:hover .dropdown-menu {
  display: block;
}

.navItem {
  margin: 0 20px;
}

.navItem>a::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #1F5ED0;
  position: absolute;
  bottom: 0;
  display: none;
  border-radius: 5px;
}

.navItem:hover>a::before {
  display: block;
}

.navItem:hover>a {
  color: #1F5ED0;
}

.navItem .dropdown-item {
  padding: 15px 70px 15px 10px;
  border-bottom: 1px solid rgb(230, 222, 222);
}

.navItem .dropdown-menu li:last-child a {
  border: none;
}

.navItem .dropdown-item:hover {
  color: #1F5ED0;
}

.navItem .dropdown-item:active {
  color: white;
}

/* End nav */





.footer {
  background-color: var(--primary-color);
  color: red;
}