<header class="header">
    <div class="logo-container d-flex">
        <img class=" logo" src="../assets/images/logo.png" alt="logo">
        <div class="">
            <h5 class="mt-4 text-uppercase">Hệ thống quản lý đoàn viên</h5>
            <h6 class="text-uppercase">Khoa Công nghệ thông tin</h6>
        </div>
    </div>

    <div class="action-container">
        <div class="notification">
            <i class="fa-regular fa-bell "></i>
            <div class="number-noti">3</div>
        </div>
        <div class="user d-flex " role="button" data-bs-toggle="collapse" data-bs-target="#logout-id">
            <img src="../assets/images/avatar.png" class="avatar">
            <h7 id="displayName" class="name">Đoàn cơ sở CNTT</h7>
            <div class="logout collapse text-center" id="logout-id">
                <div id="logout-button">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Đăng xuất</span>
                </div>
            </div>
        </div>
    </div>

</header>

<script src="../js/header.js"></script>
<script src="../js/logout.js"></script>