<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown navItem">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-circle-info"></i>
                        Thông tin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Danh sách Đoàn viên</a></li>
                        <li><a class="dropdown-item" href="#">Cập nhật thông tin</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown navItem">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-list-check"></i>
                        Nghiệp vụ quản lý đoàn viên
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Kết nạp Đoàn viên mới</a></li>
                        <li><a class="dropdown-item" href="#">Trưởng thành Đoàn</a></li>
                        <li><a class="dropdown-item" href="#">Xóa tên Đoàn viên</a></li>
                        <li><a class="dropdown-item" href="#">Khen thưởng, kỷ luật</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown navItem">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-gear"></i>
                        Quản trị
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Quản trị tổ chức</a></li>
                        <li><a class="dropdown-item" href="#">Quản trị hoạt động</a></li>
                        <li><a class="dropdown-item" href="../pages/unionFees.html">Quản lý đoàn phí</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>