<nav>
    <div class="container">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#">Thông tin chung</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Danh sách Đoàn viên</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin Đoàn viên</a></li>
                    <li><a class="dropdown-item" href="#">Thống kê các biến động</a></li>
                    <li><a class="dropdown-item" href="#">Theo dõi thu/chi đoàn phí</a></li>
                    <li><a class="dropdown-item" href="#">Ban chấp hành Chi đoàn</a></li>
                    <li><a class="dropdown-item" href="#">Duyệt thông tin BCH các cấp</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="">Nghiệp vụ quản lý đoàn viên</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Kết nạp Đoàn viên mới</a></li>
                    <li><a class="dropdown-item" href="#">Chuyến đi, chuyển đến</a></li>
                    <li><a class="dropdown-item" href="#">Trưởng thành Đoàn</a></li>
                    <li><a class="dropdown-item" href="#">Xóa tên Đoàn viên</a></li>
                    <li><a class="dropdown-item" href="#">Chương trình Rèn luyện Đoàn viên</a></li>
                    <li><a class="dropdown-item" href="#">Đánh giá, xếp loại Đoàn viên</a></li>
                    <li><a class="dropdown-item" href="#">Đoàn viên danh dự</a></li>
                    <li><a class="dropdown-item" href="#">Đoàn viên ưu tú</a></li>
                    <li><a class="dropdown-item" href="#">Khen thưởng, kỷ luật</a></li>
                    <li><a class="dropdown-item" href="#">Đoàn viên làm ăn xa</a></li>
                    <li><a class="dropdown-item" href="#">Sinh hoạt nơi cư trú</a></li>
                    <li><a class="dropdown-item" href="#">Sinh hoạt đoàn tạm thời</a></li>
                    <li><a class="dropdown-item" href="#">Thống kê các cấp</a></li>
                    <li><a class="dropdown-item" href="#">Biểu số liệu</a></li>
                    <li><a class="dropdown-item" href="#">Duyệt thông tin đoàn viên từ App Thanh niên Việt Nam</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="">Tiện ích</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Thông tin 1</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin 2</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>