<nav>
    <div class="container">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#">Thông tin</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Danh sách Đoàn viên</a></li>
                    <li><a class="dropdown-item" href="#">Cập nhật thông tin</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="">Nghiệp vụ quản lý đoàn viên</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Kết nạp Đoàn viên mới</a></li>
                    <li><a class="dropdown-item" href="#">Trưởng thành Đoàn</a></li>
                    <li><a class="dropdown-item" href="#">Xóa tên Đoàn viên</a></li>
                    <li><a class="dropdown-item" href="#">Khen thưởng, kỷ luật</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="">Quản trị</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Quản trị tổ chức</a></li>
                    <li><a class="dropdown-item" href="#">Quản trị hoạt động</a></li>
                    <li><a class="dropdown-item" href="#">Quản trị đoàn phí</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>